/* Стилизация кнопки */
.container {
    display: grid;
    grid-template-rows: repeat(3, 48px);
    grid-template-columns: repeat(4, 189px);
    grid-gap: 33px 16px;
}

/* Общие стили для кнопок */
.button_disabled {
    opacity: 0.5;
}
.button_primary, .button_primary_hover, .button_secondary, .button_secondary_hover {
    color: var(--white);
}
.button_alternate, .button_alternate_hover {
    color: var(--grey-4);
    cursor: not-allowed;
}
.button {
    border-radius: 8px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

/* Кнопки primary */
.button_primary {
    background: var(--primary_default);
}
.button_primary_hover {
    background: var(--primary_hover);
}

/* Кнопки secondary */
.button_secondary {
    background: var(--secondary_default);
}
.button_secondary_hover {
    background: var(--secondary_hover);
}

/* Кнопки alternate */
.button_alternate {
    background: var(--white);
    border: 1px solid var(--grey-3);
}
.button_alternate_hover {
    background: var(--white);
    border: 1px solid var(--black);
}

