.card {
    background: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    flex-basis: 350px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
}
.card__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: var(--black);
    flex-basis: 55px;
}
.card__preview {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}