.card {
    background: var(--white);
    box-shadow: 0px 2px 4px rgba(var(--black), 0.05);
    border-radius: 12px;
    flex-basis: 350px;
    height: 335px;
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
}
.card__preview {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: var(--black);
}
.card__description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--grey-4);
}

@media screen and (max-width: 592px) {
    .card {
        border-radius: 8px;
        flex-basis: 231px;
        width: 164px;
    }
    .card__title {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: var(--black);
    }
    .card__description {
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: var(--grey-3);
    }
}