.rb {
    position: relative;
}
.rb__input {
    width: 1px;
    height: 1px;
    position: absolute;
    left: -9999px;
}
@supports (appearance: none) {
    .rb__input {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}
.rb__custom {
    position: absolute;
    width: 28px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 14px;
    transition: all 0.1s ease;
}
.rb__input:checked + .rb__custom:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 18px;
    background-color: var(--blue);
    border-radius: 50%;
    transition: all 0.1s ease;
}
.rb__input:checked + .rb__custom {
    border: 2px solid var(--blue);
    transition: all 0.1s ease;
}
.rb__input:disabled + .rb__custom {
    background-color: var(--grey-2);
}
.rb__input:disabled ~ .rb__label {
    color: var(--grey-2);
}
.rb__input:focus + .rb__custom {
    border: 2px solid var(--purple);
}
.rb__input:focus ~ .rb__label {
    text-decoration: underline;
}
.rb__label {
    margin-left: 2.5em;
    line-height: 28px;
}