.calendar {
    width: 100%;
    max-width: 300px;
    background: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 28px 36px;
}
.calendar__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 120%;
    line-height: 24px;
    display: flex;
    justify-content: center;
    color: var(--grey-9);
    padding-bottom: 24px;
}
.calendar__wrapper {
    position: relative;
    padding-bottom: 100%;
}
.wrapper__data {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar__item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar__item_day {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
.calendar__item_num {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: var(--grey-9);
}
.calendar__item_startend {
    background: var(--blue-2);
    color: var(--white);
}
.calendar__item_between {
    background: var(--blue-4);
}